<h1>Listing festivals</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Details</th>
    <th>City</th>
    <th>Period</th>
    <th>Timings</th>
    <th>Telephone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @festivals.each do |festival| %>
  <tr>
    <td><%= festival.name %></td>
    <td><%= festival.details %></td>
    <td><%= festival.city %></td>
    <td><%= festival.period %></td>
    <td><%= festival.timings %></td>
    <td><%= festival.telephone %></td>
    <td><%= link_to 'Show', festival %></td>
    <td><%= link_to 'Edit', edit_festival_path(festival) %></td>
    <td><%= link_to 'Destroy', festival, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Festival', new_festival_path %>
