<!DOCTYPE html>
<html>
<head>
  <title>WgoVmokshaDevise</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="user_nav">
    <% if user_signed_in? %>
      <span style="float:left;">
        <i>Welcome</i> 
        <b><%= current_user.username %></b>
      </span>
      <span style="float:right;">
        <i>Signed In As</i> 
        <b><%= current_user.email %></b>
      </span>
      <br/>
      <span style="float:left;">
        <%= link_to "Sign Out",destroy_user_session_path, :method => :delete %>
      </span>      
      <span style="float:right;">
        <i>Authentication token</i> <b><%= User.authentication_token %></b>
      </span>
    <% else %>
      <%= link_to "Sign In",new_user_session_path %>
      <%= link_to "Sign Up",new_user_registration_path %>
    <% end %>
  </div>
  <br/>
  <div>
    <%= yield %>
  </div>

</body>
</html>
